<ion-header>
  <ion-navbar>
    <ion-title>Feed</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <img [src]="user.avatar_url" height="30" width="30" item-left />
      <p *ngIf="user.public_repos >= 9" style="color: red" (click)=viewUser(user)>{{user.login}}</p>
      <p *ngIf="user.public_repos < 9" (click)=viewUser(user)>{{user.login}}</p>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="addUsersOnScroll($event)">
    <ion-infinite-scroll-content *ngFor="let user of users">
      
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>